/* CSS Document */


.basic-info {
	margin: 20px 0px 35px;
	clear: both;
	
}

.custom-title.headline-1 {
  border-left:  12px ;
  font-size: 22px;
  /* display: block; */
  font-family: 'Microsoft Yahei',SimHei,Verdana;
  font-weight: 500;
  line-height: 22px;
  }
.basic-info .basicInfo-block {

  width: 395px;
  float: left;
  background: transparent url(../img/bk/memberstest.png) repeat scroll 0% 0%;
}
.basic-info .basicInfo-block .basicInfo-item.name {
  width: 90px;
  height: 26px;
  padding: 0 5px 0 12px;
  color: #999;
  /*background: transparent url(../img/bk/memberstest.png) repeat scroll 0% 0%;*/
}
.basic-info .basicInfo-block .basicInfo-item.value {
  /* zoom: 1; */
  /* color: #333; */
  width: 285px;
  float: left;
  position: relative;
  /*background: transparent url(../img/bk/memberstest.png) repeat scroll 0% 0%;*/
}
.basic-info .basicInfo-block .basicInfo-item {
  line-height: 26px;
  /* display: block; */
  /* padding: 0; */
  /* margin: 0; */
  float: left;
}