@charset "utf-8";
.header {
	background:#30394D;	 
	border-bottom: 3px solid #BFBFBF;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
    width: 100%;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right:44%;
	bottom:20px;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin:0 15px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	width:20px;
	height:20px;
	background:#FFFFFF;
	border-radius:50%;
}
.wmuSliderPagination a.wmuActive {
	background:#FF3D4E;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width:30px;
	height:50px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	top:48%;
	z-index: 2;
	cursor: pointer;
}
.wmuSliderPrev {
	background-position:0px -95px;
	left:0;
}
.wmuSliderNext {
	background-position:-28px -96px;
	right: 0px;
}
.wmuSliderPagination{
	bottom: 7px;
	}
.wmuSliderPagination a {
	width: 15px;
	height: 15px;
}	


.wmuSliderPagination {
		right: 39%;
	}
.wmuSliderPagination a {
	width: 12px;
	height: 12px;
}

.wmuSliderPrev, .wmuSliderNext{
		top: 42%;
}
.wmuSliderPagination {
		right: 39%;
}
.wmuSliderPagination li {
		margin: 0 10px 0 0;
}
.wmuSliderPagination a {
		width: 10px;
		height: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
		top: 39%;
	}
.banner-wrap {
	padding:6em 0;
}
.bannertop_box{
	width:45%;
	float:left;
	padding:0 0 0 6.5em;
}
.bannertop_box h1 {
	color: #EDE8E0;
	font-size:8em;
	font-weight:900;
}
.bannertop_box h1 span{
	color: #EDE8E0;
	font-size:0.5em;
	font-weight:400;
	display:block;
}
.bannertop_box label{
	margin:0;
	color:#EDE8E0;
	font-size:23px;
	font-weight:400;
}
.bannertop_box p{
	margin:1.5em 0;
	color:#EDE8E0;
	font-size:23px;
	font-weight:400;
}

.banner_right {
	float: right;
	width: 45%;
	padding-right: 6em;
}
.banner_right h1{
	color:#fff51f;
	font-size:4em;
	font-weight:bold;
	line-height: 0.9em;
}
.banner_right p{
	float:right;
	color:#fff51f;
	font-size:1.1em;
}